*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../o.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 10px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 200px;
	height: auto;
}

.main ul li
{
	width: 130px;
	margin 15px;
	padding: 15px;
}


.main{
	max-width: 1400px;
	margin: auto;
}

.main{
	background: rgb(0,100,0);
	text-align: center;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.title h2{
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.button{
	position: absolute;
	top: 74%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

/*services section */

.services{
	width:100%;
	background-color:#17355fb8;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.col-wrapper{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.services-col{
	width: 20%;
	float: left;
	padding: 20px 35px 20px 25px;

}
.services-content{
	text-align: justify;
	font-family: cursive;

}
.services-col img{
	width: 180px;
	max-width: 100%;
	text-align: center;
}

.col-wrapper::after{
	clear: both;
	display: table;
	content: "";
}


/* section team*/

.team{
	width:100%;
	background-color:#5273c6b8;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}


.container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.contain-fir{
	width: 20%;
	float: left;
	padding: 20px 35px 20px 25px;
}

.container::after{
	clear: both;
	display: table;
	content: "";
}
.contain-fir img{
	width: 150px;
	max-width: 100%;
	text-align: center;
}

/* last*/

.last{
	width:100%;
	background-color:#17355fb8;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}

.last h1{
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.last h2{
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.aus h1{
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.last-btn{
	background: rgba(0,0,0,0.01);
	padding: 10px 15px 10px 15px;
	margin-top: 30px;
	border: none;
	outline: 1px solid white;
	color: #fff;
	cursor: pointer;
}

.end img{
	float: left;
	width: 150px;
	height: auto;

